body {
  height: 100vh;
  margin: 0px;
}

button, input {
  outline: 0;
}

.entire-page {
  display: flex;
  flex-direction: row;
  height: 93vh;
}

img {
  width: 20px;
}

main {
  background-color: #2b2733;
  width: 65%;
}

aside {
  background-color: #2b2733;
  border-left: 2px solid #46424d;
  width: 35%;
}

header {
  background-color: #46424d;
  height: 7vh;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  margin: 0;
}

.category-section {
  display: flex;
  justify-content: space-between;
  margin: 5vh 0 5vh 0;
}

.new-activity-section {
  background-color: #46424d;
  border-radius: 10px;
  height: 67%;
  margin: 30px;
  padding: 40px 75px;
}

h2 {
  margin-left: 30px;
}

.main-text {
  color: #cbc9cf;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.card-text {
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.category-button {
  align-items: center;
  background-color: #46424d;
  border: 2px white solid;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  height: 75px;
  justify-content: center;
  width: 25%;
}

.category-button:hover {
  border: 4px solid;
  cursor: pointer;
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}

#study:hover {
  box-shadow: inset 0 0 20px #B3FD78, 0 0 20px #B3FD78;
  outline-color: #B3FD78;
}

#meditate:hover {
  box-shadow: inset 0 0 20px #C278FD, 0 0 20px #C278FD;
  outline-color: #C278FD;
}

#exercise:hover {
  box-shadow: inset 0 0 20px #FD8078, 0 0 20px #FD8078;
  outline-color: #FD8078;
}

.field {
  background: 0;
  border: 0;
  border-bottom: 1px solid #FFF;
  color: #FFF;
  width: 100%;
}

.input-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-field-2,
.input-field-3{
  width: 43%;
}

.field {
  font-size: 15px;
}

.past-activities-notice {
  margin-top: 0;
  padding: 0;
  text-align: center;
}

.activity-header {
  margin-bottom: 23px;
}

#start-activity-button {
  background-color: white;
  border-radius: 5px;
  float: right;
  font-size: 15px;
  padding: 5px 35px;
  text-transform: uppercase;
}

.create-new-button {
  background-color: white;
  border-radius: 5px;
  font-size: 15px;
  height: 35px;
  margin-top: 50px;
  padding: 5px 35px;
  text-transform: uppercase;
}

.study.active {
  border: 2px solid #B3FD78;
  color: #B3FD78;
  outline: none;
}

.meditate.active {
  border: 2px solid #C278FD;
  color: #C278FD;
  outline: none;
}

.exercise.active {
  border: 2px solid #FD8078;
  color: #FD8078;
  outline: none;
}

.hidden {
  display: none;
}

.current-activity-section {
  align-items: center;
  display: flex;
  background-color: #46424d;
  border-radius: 10px;
  height: 67%;
  justify-content: center;
  margin: 30px;
  padding: 40px 75px;
}

.create-new-activity-section {
  background-color: #46424d;
  border-radius: 10px;
  display: flex;
  height: 67%;
  justify-content: center;
  margin: 30px;
  padding: 40px 75px;
}

.current-activity-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.start-timer-button {
  background-color: #46424d;
  border-radius: 100%;
  border-width: 3px;
  color: white;
  font-size: 30px;
  height: 280px;
  padding: 60px;
  text-align: center;
  text-transform: uppercase;
  width: 280px;
}

.start-timer-button:hover {
  border: 5px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  cursor: pointer;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}

.log-activity-button {
  background-color: white;
  border-radius: 5px;
  float: right;
  font-size: 15px;
  margin-top: 15px;
  padding: 5px 35px;
  text-transform: uppercase;
}

#start-activity-button,
.create-new-button,
.log-activity-button:hover{
  box-shadow: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.timer {
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 75px;
  font-weight: bold;
  margin: 0 0 30px 0;
}

.timer-container {
  display: flex;
  flex-direction: row;
}
.error-message {
  margin: 0;
  padding: 16px 0px;
}

.button-select,
.cat-error {
  display: inline-block;
}

.cat-select {
  margin: 0px 15px;
}

.cat-error,
.title-error,
.min-error,
.sec-error {
  visibility: hidden;
}

.activity-card {
  background-color: #46424d;
  border-radius: 10px;
  margin: 10px 30px;
  padding: 10px;
}

.chosen {
  margin: 5px;
}

.chosen-time {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.chosen-category {
  font-weight: bold;
}

.chosen-title {
  font-size: 13px;
  font-weight: lighter;
}

.chosen-min {
  margin: 0 0 0 5px;
}

.chosen-sec {
  margin: 0 0 0 15px;
}

.card-wrapper {
  height: 580px;
  overflow: scroll;
  scroll-behavior: smooth;
}

.shadow {
  box-shadow: 7px 8px 6px 4px rgba(0, 0, 0, 0.1);
}

.card-border.study {
  border-right: 4px solid #B3FD78;
}

.card-border.meditate {
  border-right: 4px solid #C278FD;
}

.card-border.exercise {
  border-right: 4px solid #FD8078;
}
